blinker
click
colorama
Flask
h11
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
pandas
python-dateutil
pytz
scikit-learn

scipy.sparse._csr

six
threadpoolctl
tzdata
uvicorn
Werkzeug
